{% extends 'balance/base.html' %}

{% block title %}
    Custom balance
{% endblock %}

{% block content %}
    <h1> Choose parameters to view: </h1>
    <hr>
    <form method=POST>
        {% csrf_token %}
        <p>Choose type of the transaction:</p>
        <select name="form_select">
            <option  selected="selected" value="all">All</option>
            <option value="credit">Credit</option>
            <option value="debet">Debet</option>
        </select>
        <hr>
        <p>
            <label for="date_from">Start date: </label>
            <input type="date" id="date_from" name="date_from" value="2021-12-01"/>
        </p>
        <p>
            <label for="date_to">End date: </label>
            <input type="date" id="date_to" name="date_to" value="2022-12-31"/>
        </p>
        <p>
            <label for="category">Category contains: </label>
            <input type="text" id="category" name="category"/>
        </p>
        <button type="submit" class="btn btn-success">Submit</button>
        </form>

{% endblock %}
